:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --focus-text-color: #2196f3;
  --hero-button-text-color: #ffffff;
}

/* основной цвет #757575*/
/* вторичный цвет #212121*/
/* цвет ховера и фокуса #2196F3*/
/* цвет текста кнопки #FFFFFF */

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Hero */

.hero-title {
  color: var(--hero-button-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.9;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--title-text-color);
}

.hero-button:hover,
:focus {
  color: var(--hero-button-text-color);
  background-color: var(--focus-text-color);
}

.text-title.comand {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* button`s */

/* .button {
    background: var(--focus-text-color);
    color: var(--hero-button-text-color);
} */

.button {
    color: var(--title-text-color);
    
    

}

.button:hover,
.button:focus {
  color: var(--hero-button-text-color);
  background-color: var(--focus-text-color);
}

/*Logo*/

.logo {
    color: var(--title-text-color);
    font-weight: 700;
    font-family: 'Raleway', 'cursive';
    font-size: 26px;
    line-height: 1.2;
}

.logo:hover,
.logo:focus {
  color: #2196f3;
}

.logo-color-maine {
  color: var(--focus-text-color);
}

.logo-colour-second {
  color: var(--title-text-color);
}

/* Site-nav */
.link:hover,
.link:focus {
  color: var(--focus-text-color);
}

.link {
  color: var(--title-text-color);
}

.site-nav .link-current {
  color: var(--focus-text-color);
}

.site-nav {
  
font-weight: 500;
font-size: 14px;
line-height: 1.2;
}

/*  Убранные стили списков */

ul {
  list-style: none;
}

/* Contacts links */

.contact-links {
  color: var(--title-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.contact-links:hover,
:focus {
  color: var(--focus-text-color);
}

.address {
  color: var(--hero-button-text-color);
}

/* Section title */
.section-title {
    display: none;   
}

.text-title-comand {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}